# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log
yarn-error.log
.DS_Store
/NOTE.md
.env
.eslintcache

# tests
/coverage
/.nyc_output

# dist
dist
config/.env.local

terraform-developer.pem

.terraform
.terraform.lock.hcl

/.ox
note.md
